<h2><%= @table.name %></h2>

<table>
  <thead>
    <tr>
      <% @table.columns.each do |column| %>
        <th><%= column.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @table.records.each do |record| %>
      <tr>
        <% @table.columns.map(&:name).each do |key| %>
          <td class="<%= key %>"><%= record[key] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
