<table>
  <thead>
    <tr>
      <% @table.columns.each do |column| %>
        <th><%= link_to column.name, :sort => "#{column.name}" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |record| %>
      <tr>
        <% @table.columns.map(&:name).each do |key| %>
          <td class="<%= key %>"><%= record[key] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate_table_entries @entries %>
